$border-radius-adjectives: (
  '0': 0,
  'low': 3px,
  'high': 6px,
  'round': 50%,
  'pill': 1000px
);
@include A(define, 'border-radius', border-radius, $border-radius-adjectives);
@include A(define, 'border-top-left-radius', border-top-left-radius, $border-radius-adjectives);
@include A(define, 'border-top-right-radius', border-top-right-radius, $border-radius-adjectives);
@include A(define, 'border-bottom-left-radius', border-bottom-left-radius, $border-radius-adjectives);
@include A(define, 'border-bottom-right-radius', border-bottom-right-radius, $border-radius-adjectives);

$border-width-adjectives: (
  '0': 0px,
  'thin': 1px,
  'medium': 2px,
  'thick': 3px,
);
@include A(define, 'border-width', border-width, $border-width-adjectives);
@include A(define, 'border-top-width', border-top-width, $border-width-adjectives);
@include A(define, 'border-bottom-width', border-bottom-width, $border-width-adjectives);
@include A(define, 'border-left-width', border-left-width, $border-width-adjectives);
@include A(define, 'border-right-width', border-right-width, $border-width-adjectives);

$border-style-adjectives: (
  'solid': solid,
);
@include A(define, 'border-style', border-style, $border-style-adjectives);
@include A(define, 'border-top-style', border-top-style, $border-style-adjectives);
@include A(define, 'border-bottom-style', border-bottom-style, $border-style-adjectives);
@include A(define, 'border-left-style', border-left-style, $border-style-adjectives);
@include A(define, 'border-right-style', border-right-style, $border-style-adjectives);
