$height-width-adjectives: (
  '100vh': 100vh,
  '50vh': 50vh,
  '100vw': 100vw,
  '50vw': 50vw,
);

@for $i from 0 through 100 {
  @if $i % 5 == 0 {
    $height-width-adjectives: A(map-set, $height-width-adjectives, $i, $i * 1%);
  }
}

@include A(define, 'height', height, $height-width-adjectives);
@include A(define, 'min-height', min-height, $height-width-adjectives);
@include A(define, 'max-height', max-height, $height-width-adjectives);

@include A(define, 'width', width, $height-width-adjectives);
@include A(define, 'min-width', min-width, $height-width-adjectives);
@include A(define, 'max-width', max-width, $height-width-adjectives);

$height-width-adjectives: (
  '1rem': 1rem,
  'icon-sm': px-to-rem(12px),
  'icon-md': px-to-rem(16px),
  'icon-lg': px-to-rem(24px),
);

@include A(define, 'height', height, $height-width-adjectives);
@include A(define, 'width', width, $height-width-adjectives);

